:root {
  --text-primary: #FFF;
  --text-secondary: #E52B50;
  --text-accent: #B31837;
  --text-link: #0069C2;
  --text-visited: #551A8B;

  --background-primary: #FBE1E6;
  --background-secondary: #FDEDF0;
  --background-accent: #E52B50;

  --header-background-primary: #333;
  --header-text-primary: #f2f2f2;

  --z-index-main-header: 100;
}

/* General Rules */

body {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--background-primary);
}


/* Header and Navigational Elements */

.top-navigation {
  display: sticky;
  width: 100%;
  z-index: var(--z-index-main-header);
  background-color: var(--header-background-primary);
  margin: 0;
}

.top-navigation .main-nav {
  background-color: var(--header-background-primary);
  margin: 0 auto 0 0;
  width: max-content;
}

ul.main-menu,
ul.submenu {
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--header-background-primary);
}

ul.main-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

ul.submenu {
  display: none;
  top: 100%;
  left: 0%;
  position: absolute;
  flex-direction: column;
  width: max-content;
}

ul.main-menu li.menu-entry {
  background-color: var(--header-background-primary);
  position: relative;
}

ul.main-menu li.menu-entry a,
ul.main-menu li.menu-entry:not(:has(>a)) {
  padding: 14px 16px;
  color: var(--header-text-primary);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

ul.main-menu li.menu-entry:hover .submenu {
  display: flex;
}

ul.main-menu li.menu-entry:has(>a.active, >a:hover) {
  background-color: var(--background-accent);
}

/* Document */

/* DEPRECIATED: Please update to use the new header found in officer-template. */
.mobile,
.dropdown-content {
  display: none;
}

/* DEPRECIATED: Please update to use the new header found in officer-template. */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: var(--header-text-primary);
  padding: 14px 16px;
  margin: 0;
  background-color: inherit;
}

/* DEPRECIATED: Please update to use the new header found in officer-template. */
.nvbr {
  width: 100%;
  position: fixed;
  background-color: var(--header-background-primary);
  overflow: hidden;
  z-index: 998;
}

/* DEPRECIATED: Please update to use the new header found in officer-template. */
.nvpad {
  padding: 3.5em;
}

/* Style the links inside the navigation bar */
/* DEPRECIATED: Please update to use the new header found in officer-template. */
.nvbr a {
  float: left;
  color: var(--header-text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color of current page's link and any links on hover. */
/* DEPRECIATED: Please switch to the new nav bar. */
.nvbr a:hover,
.nvbr a.active {
  background-color: var(--background-accent);
  color: var(--header-text-primary);
}

/* Add a color to the active/current link */
/* DEPRECIATED: Please update to use the new header found in officer-template. */
.home .home,
.glossary .glossary,
.play .play,
.calendar .calendar,
.rules .rules,
.judgments .judgments,
.archives .archives,
.join .join {
  background-color: var(--background-accent);
  color: var(--header-text-primary);
}

.coat-of-arms {
  height: 128px;
  width: 128px;
  z-index: 9999;
  position: fixed;
  right: 0%;
}

.rule101 {
  font-size: 16px;
  color: var(--text-accent);
  margin: 0 auto;
}

.rule101 pre {
  background: none;
  text-align: center;
}

h1 {
  margin: 0%;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  color: var(--text-secondary);
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 102ch;
  margin: auto;
}

.content {
  margin: auto;
  padding-right: 14em;
}

p,
ul:not(.main-menu, .submenu) {
  max-width: 72ch;
  margin: auto;
  margin-bottom: 1em;
}

.chats {
  width: 10em;
  height: 100%;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--background-secondary);
}

/* Buttons for discord and matrix and irc */

.button {
  border-color: var(--background-accent);
  border-radius: 10px;
  background-color: var(--background-accent);
  color: var(--header-text-primary);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: var(--background-accent);
  color: var(--header-text-primary);
}

/* Written for the herald's pages, fix if it breaks some other table */

table,
td,
th {
  border: 0px solid;
}

.ttitle {
  color: var(--text-secondary);
  font-weight: bold;
}

table {
  margin: auto;
}

table tr {
  background-color: var(--background-secondary);
  height: 3vh;
}

blockquote,
pre {
  max-width: 66ch;
  padding-left: 1ch;
  padding-right: 1ch;
  background: var(--background-secondary);
  margin: auto;
}

/* Adjust elements to small screens */
@media screen and (max-width:73em) {
  .chats {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .button {
    width: 45%;
    font-size: 20px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .content {
    width: 100%;
    max-width: 102ch;
    padding-right: 0;
  }

  .mobile {
    display: inline-block;
  }

  .desktop {
    display: none;
  }

  .nvbr a {
    float: center;
    width: 100%;
    color: var(--header-text-primary);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 0px;
  }

  .nvpad {
    padding-top: 6vh;
  }

  .rule101 {
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 0.8em;
    overflow: scroll;
  }

  .coat-of-arms {
    height: 64px;
    width: 64px;
  }
}